.login-txt {
  width: 100%;
  margin-left: 10px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
  padding-left: 5px;
}

.login-txt:focus {
  border-bottom: solid 2px #0084ff;
}

.toggle-password {
  float: right;
  margin-top: -23px;
  position: relative;
  cursor: pointer;
}

.login__icon {
  font-size: 20pt;
  vertical-align: middle;
  cursor: pointer;
}